---
layout: layout.njk
title: Blog
permalink: /blog/
---

<h1>Blog</h1>

<ul class="blog-list">
{% for post in collections.blogPosts %}
  <li class="blog-post-item">
    <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p class="post-description">{{ post.data.description }}</p>
    <div class="post-meta">
      <span class="post-date">Published on {{ post.date | date }}</span>
      {% set filteredTags = post.data.tags | removeBlogTag %}
      {% if filteredTags.length > 0 %}
      <div class="post-tags">
        {% for tag in filteredTags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul>