.container {
  width: 60%;
  margin: 0 20%;
  box-shadow: 10px 10px 0px #000000;
  padding: 20px;
  background-color: white;
  border: 2px solid #000000;
  transition: box-shadow 0.3s ease-out;
}

.owner {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.possum {
  width: 80%;
  max-width: 500px;
}

@media only screen and (max-width: 360px) {
  .possum {
    width: 100%;
  }
}

@media only screen and (max-width: 1366px) {
  .possum {
    width: 80%;
  }
}

.possum:hover {
  filter: grayscale(1);
  -webkit-transition: filter 0.15s ease-in;
  -moz-transition: filter 0.15s ease-in;
  -ms-transition: filter 0.15s ease-in;
  -o-transition: filter 0.15s ease-in;
  transition: filter 0.15s ease-in;
}

.jokes:hover {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    green,
    blue,
    black,
    orange,
    red
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5em;
  -webkit-transition: font-size 1s ease-out;
  -moz-transition: font-size 1s ease-out;
  -ms-transition: font-size 1s ease-out;
  -o-transition: font-size 1s ease-out;
  transition: font-size 1s ease-out;
}
